@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
form {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.arrow__left, .arrow__right {
  position: relative;
  width: 30px;
  height: 30px;
}

.arrow__left:hover, .arrow__right:hover {
  cursor: pointer;
}

.arrow__left::before, .arrow__left::after, .arrow__right::before, .arrow__right::after {
  content: "";
  position: absolute;
  left: 25%;
  width: 50%;
  height: 10%;
  background-color: #555;
}

.arrow__left::before {
  top: 25%;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.arrow__left::after {
  bottom: 25%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.arrow__right::before {
  top: 25%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.arrow__right::after {
  bottom: 25%;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.calendar {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-top: 10px solid #fff;
  border-radius: 3px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.calendar::before, .calendar::after {
  content: "";
  position: absolute;
  top: -13px;
  width: 6px;
  height: 10px;
  border-radius: 3px;
  border: 2px solid #fff;
  background-color: #999;
}

.calendar::before {
  left: 3px;
}

.calendar::after {
  right: 3px;
}

.triangle__right, .triangle__left {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.triangle__right {
  border-left: 20px solid #777;
}

.triangle__left {
  border-right: 20px solid #777;
}

.triangle__top, .triangle__bottom {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.triangle__top {
  border-bottom: 20px solid #777;
}

.triangle__bottom {
  border-top: 20px solid #777;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body._active {
  overflow: hidden;
}

._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteiner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #999;
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #999;
  z-index: 2;
}

.header__body {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  z-index: 2;
}

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 24px;
  z-index: 2;
}

.header__burger::before, .header__burger::after {
  content: "";
}

.header__burger span, .header__burger::before, .header__burger::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.header__burger._active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger._active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.header__menu {
  display: block;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 10px 20px 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu._active {
  top: 0;
}

.header__list {
  display: block;
}

.header__list li {
  margin: 0 0 20px 0;
}

.header__link {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 767px) {
  .header {
    height: 70px;
  }
  .header__body {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    height: 50px;
    width: 50px;
  }
  .header__burger {
    display: none;
  }
  .header__menu {
    position: relative;
    top: 0;
    width: auto;
    padding: 0;
    z-index: 2;
    background-color: #999;
  }
  .header__list {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list li {
    margin: 0 0 0 20px;
  }
  .header__list li:first-child {
    margin: 0;
  }
  .header__link {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
  }
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 50px 0 0 0;
  border: 0px solid red;
  position: relative;
}

.shedule {
  padding: 10px 0;
}

.week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}

.weekday {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 5px;
}

.weekday__conteiner {
  margin: 0 0 10px 0;
  padding: 10px 10px 0 10px;
  border: 1px solid #999;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.weekday__date {
  font-size: 20px;
  letter-spacing: 0.3px;
  font-weight: 700;
  border-bottom: 1px solid #999;
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
}

.subject__border {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #999;
}

.description {
  margin: 0 10px 0px 10px;
}

.description__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -5px;
}

.description__number, .description__text, .description__communicator {
  padding: 0px 5px;
  font-size: 20px;
}

.description__number, .description__text {
  padding: 5px 5px;
}

.description__number {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46px;
          flex: 0 1 46px;
  text-align: center;
}

.description__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.description__communicator {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 156px;
          flex: 1 1 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0 -5px;
}

.description__list {
  padding: 0 7px 0 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 21px;
  height: 26px;
}

.description__button::before, .description__button::after {
  content: "";
  position: absolute;
  left: 4px;
  width: 10px;
  height: 2px;
  background-color: #999;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.description__button::before {
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  top: 7px;
}

.description__button::after {
  -webkit-transform: rotate(-130deg);
          transform: rotate(-130deg);
  top: 15px;
}

.description__button._active::before {
  -webkit-transform: rotate(-130deg);
          transform: rotate(-130deg);
}

.description__button._active::after {
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

.description__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  overflow: hidden;
  width: 0px;
}

.description__links._active {
  width: 100%;
}

.description__link {
  padding: 0 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.description__link img {
  display: block;
  margin: 0 auto;
}

.contact {
  margin: 0 10px 7px 10px;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -5px;
}

.contact__time, .contact__office, .contact__tiecher {
  position: relative;
  padding: 0px 5px;
  font-size: 14px;
  line-height: 18px;
  color: #999;
}

.contact__time {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46px;
          flex: 0 0 46px;
}

.contact__office {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}

.contact__tiecher {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.task {
  margin: 0 10px 0px 10px;
}

.task__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -5px;
}

.task__add, .task__info {
  position: relative;
  padding: 5px 5px 0px 5px;
  font-size: 16px;
  line-height: 20px;
}

.task__add {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46px;
          flex: 0 0 46px;
}

.task__add::before, .task__add::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 13px;
  width: 20px;
  height: 2px;
  background-color: #999;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.task__add._active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.task__add._active::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.task__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.task__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 0px -5px 15px -5px;
  padding: 0 40px 0 0px;
}

.task__title::before, .task__title::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 10px;
  height: 2px;
  background-color: #999;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.task__title::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 15px;
}

.task__title::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  right: 7px;
}

.task__title._active::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.task__title._active::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.task__persent, .task__process {
  padding: 0 5px;
}

.task__persent {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
}

.task__process {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  border-radius: 10px;
  border: 1px solid #999;
}

.task__process span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 30%;
  height: 100%;
  background-color: rgba(120, 185, 23, 0.5);
}

.task__list {
  display: none;
}

.task__list._active {
  display: block;
}

.task__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -5px;
}

.task__check, .task__text {
  position: relative;
  padding: 2px 5px 0 5px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.task__check {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

.task__check::before, .task__check::after {
  content: "";
  position: absolute;
}

.task__check::before {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #999;
  background-color: #fff;
}

.task__check::after {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #999;
  background-color: #fff;
}

.task__check._active::after {
  background-color: #78b917;
}

.task__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #333;
}

.task__text._active {
  color: green;
}

@media (min-width: 767px) {
  .content {
    padding: 70px 0 0 0;
  }
  .week {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .weekday {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

/*
// КАРТКИ УРОКІВ
.shedule {

	// - контейнер
	&__container {
		padding-top: 60px; // відступ зверх від шапки 
	}

	// - flex-контейнер 
	&__cards {
		display: flex; // - flex-контейнер-КАРТКИ УРОКІВ -> КАРТКА УРОКІВ
		flex-wrap: wrap;
	}
}

// КАРТКА УРОКІВ
.card {
	flex: 1 1 auto; //- flex-елемент-КАРТКИ УРОКІВ -> КАРТКА УРОКІВ
	margin: 0 0 5px 0;

	// - рамка
	&__lessons {
		border: 1px solid #ddd; // колір, товщина 
		border-radius: 5px; // зокруглення 
		box-shadow: 0 0 20px #ddd; // тінь
	}
}


// УРОК 
$MOBILE_lesson_flex: 40px;

.lesson {

	// - контейнер
	&__container {
		padding: 11px 10px 10px 10px;
	}
}


// ПРЕДМЕТ
.subject {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #999;

	&__row {
		display: flex; // - flex-контейнер-УРОК-НАЗВА
		justify-content: space-between;
		margin: 0 -5px;
	}


	// ПРЕДМЕТ - НОМЕР
	&__number {
		flex: 0 0 $MOBILE_lesson_flex; // - flex-елемент-УРОК-НАЗВА-номер
		text-align: center;
	}

	// ПРЕДМЕТ - НАЗВА
	&__name {
		flex: 1 1 auto; // - flex-елемент-УРОК-НАЗВА-предмет
	}

	&__book {
		align-self: flex-start;
	}

	&__number,
	&__name,
	&__book {
		font-size: 24px;
		padding: 0px 5px;
	}
}


// ЗАВДАННЯ
.task {
	border-bottom: 1px solid #999;
	margin: 0 0 10px 0;

	&__item {

		display: flex; // - flex-контейнер
		justify-content: space-between;
		margin: 0 -5px 10px -5px;
		//z-index: 1;
	}

	// ЗАВДАННЯ - КЕРУВАННЯ
	&__control {}

	&__add,
	&__title {
		position: relative;
		cursor: pointer;
		padding: 0px 5px;
		//	z-index: -1;
	}

	// ЗАВДАННЯ - ДОДАТИ
	&__add {
		flex: 0 0 $MOBILE_lesson_flex; // - flex-елемент-УРОК-ЗАВДАННЯ-відмітка

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 11px;
			left: 13px;
			width: 18px;
			height: 2px;

			background-color: #999;
			//box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
			transition: all 0.3s ease 0s;
		}

		&::after {
			transform: rotate(90deg);
		}

		&_active::before,
		&_active:after {
			display: none;
		}

	}

	// ЗАВДАННЯ - ЗАГОЛОВОК
	&__title {
		flex: 1 1 auto; // - flex-елемент-УРОК-ЗАВДАННЯ-опис
		font-size: 18px;
		line-height: 22px;
		color: #999;

		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 10px;
			width: 10px;
			height: 1px;
			background-color: #999;

			transition: all 0.3s ease 0s;
		}

		&::before {
			transform: rotate(40deg);
			right: 10px;
		}

		&::after {
			transform: rotate(-40deg);
			right: 18px;
		}

		&_active {
			&::before {
				transform: rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}
		}

	}

	// ЗАВДАННЯ - СПИСОК
	&__list {
		//display: none;

		//transform: scale(0) translate(0px, -50%);
		//margin: -110px 0 0 0;
	}

	// ЗАВДАННЯ - ВІДМІТКА
	&__check {
		flex: 0 0 $MOBILE_lesson_flex; // - flex-елемент-УРОК-ЗАВДАННЯ-відмітка
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			transition: all 0.3s ease 0s;
			z-index: -1; // скриває чекбокс під вспливаючим меню - LIFEHACK
		}

		&::before {
			width: 24px; //$MOBILE_lesson_check-before_width;
			height: 24px; //$MOBILE_lesson_check-before_height;
			border-radius: 3px; //$MOBILE_lesson_check-before_radius;
			top: 0px;
			left: 11px;
			background-color: #fff; //#bfc8c4;
			border: 1px solid #999;
			//box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		}

		&::after {
			width: 18px; //$MOBILE_lesson_check-after_width-height;
			height: 18px; //$MOBILE_lesson_check-after_width-height;
			border-radius: 50%;
			top: 3px;
			left: 14px;
			//border: 1px solid #999;
			background-color: #fff;
		}

		&._active ::after {
			background-color: #4fbb65;
		}

	}

	// ЗАВДАННЯ - ТЕКСТ
	&__text {
		flex: 1 1 auto; // - flex-елемент-УРОК-ЗАВДАННЯ-опис
	}

	&__check,
	&__text {
		font-size: 18px;
		line-height: 22px;
		padding: 0px 5px;
	}
}


// КОНТАКТИ
.contact {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
	margin: 0 -5px;
	z-index: -1;

	&__info,
	&__сommunicator {}

	&__info {
		flex: 0 0 $MOBILE_lesson_flex; // - flex-елемент-УРОК-ЗАВДАННЯ-відмітка
	}

	&__office,
	&__time {
		color: #999;
	}

	&__сommunicator {
		padding: 0 5px;
		flex: 1 1 auto;

		display: flex;
		justify-content: space-between;
		margin: 0 -5px;
	}

	&__ticher,
	&__links {
		padding: 0 -5px;
	}

	&__ticher {
		flex: 0 1 40%;
		color: #999;
	}

	&__links {
		flex: 1 1 auto;

		display: flex;
		justify-content: flex-end;
		margin: -5px;
	}

	&__link {
		padding: 5px;
	}

}
*/
