// file with null style
@import "nulstyle.scss";
@import "icon_1.scss";

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

	&._active {
		overflow: hidden;
	}
}

._lock {
	overflow: hidden;
}


// PC, MOBILE: Обгортка сайту - позиціонування та розміри:
.wrapper {
	min-height: 100%; // - висота дорівнє розміру всіх Блоків сайта 
	overflow: hidden; // - скролінг приховуємо

	display: flex; // - flex-контейнер Блоків сайту
	flex-direction: column; // - вертикальне орієнтування Блоків сайту
}

// PC, MOBILE: Контейнер Блоків - позиціонування та розміри:
.conteiner {
	max-width: 1170px; // - обмеженя по ширині
	margin: 0 auto; // - вирівнювання по ширині
	padding: 0 10px; // - бокові поля
}


//* ШАПКА - MOBILE

$MB_header-height: 50px;
$MB_logo-size: $MB_header-height - 10px;
$MB_content-padding: $MB_header-height + 15px;
$MB_menu-padding: $MB_header-height + 10px;

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $MB_header-height;
	background-color: #999;
	z-index: 1;
	//z-index: 50;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #999;
		z-index: 2; // 2 - мінмальне значення
	}

	&__body {
		height: $MB_header-height;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		//flex: 0 0 40px;
		height: $MB_logo-size;
		width: $MB_logo-size;
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 5px;
		//background-color: #fff;
		z-index: 2; // 2 - мінмальне значення
	}

	&__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 24px;
		z-index: 2; // 2 - мінмальне значення

		&::before,
		&::after {
			content: "";
		}

		& span,
		&::before,
		&::after {
			position: absolute;
			left: 0;
			width: 100%;
			height: 10%;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		& span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}

		&._active {
			&::before {
				top: 50%;
				transform: rotate(45deg);
			}

			&::after {
				top: 50%;
				transform: rotate(-45deg);
			}

			& span {
				transform: scale(0) translate(0px, -50%);
			}
		}
	}

	&__menu {
		display: block;
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		padding: $MB_menu-padding 10px 20px 10px;
		z-index: 1; // 1 - мінмальне значення
		background-color: rgba($color: #000000, $alpha: 0.8);

		transition: all 0.3s ease 0s;

		&._active {
			top: 0;
		}
	}

	&__list {
		display: block;

		& li {
			margin: 0 0 20px 0;
		}
	}

	&__link {
		font-size: 24px;
		text-transform: uppercase;
		color: #fff;
	}
}


//* ШАПКА - PC

$PC_header-height: 70px;
$PC_logo-size: $PC_header-height - 20px;

@media(min-width:767px) {

	.header {
		height: $PC_header-height;

		&__body {
			height: $PC_header-height;

			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__logo {
			height: $PC_logo-size;
			width: $PC_logo-size;
		}

		&__burger {
			display: none;
		}

		&__menu {
			position: relative;
			top: 0;
			width: auto; //100%;
			padding: 0; //70px 10px 20px 10px;
			z-index: 2; // 1 - мінмальне значення
			background-color: #999;
		}

		&__list {
			height: $PC_header-height;
			display: flex;
			justify-content: space-between;
			align-items: center;

			& li {
				margin: 0 0 0 20px;
			}

			& li:first-child {
				margin: 0;
			}
		}

		&__link {
			font-size: 22px;
			text-transform: uppercase;
			color: #fff;
		}
	}
}


//* КОНТЕНТ - MOBILE

//КОНТЕНТ
.content {
	flex: 1 1 auto;
	padding: $MB_header-height 0 0 0; // внутрішній-верхній відступ КОНТЕНТу від ШАПКИ
	border: 0px solid red; // !!! монтажна рамка - після верстки прибрати
	position: relative;
}

//РОЗКЛАД - коробка (рамка)
.shedule {
	padding: 10px 0; // внутрішній-верхній/нижній відступи РОЗКЛАДу у КОНТЕНТІ
}



.scrum {
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #999;

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -5px;
	}
}


//ТИЖДЕНЬ - коробка 
.week {
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -5px;
	}
}

//ДЕНЬ ТИЖНЯ - коробка (рамка)
.weekday {
	flex: 1 1 100%;
	padding: 0 5px;
	margin: 0 0 10px 0; // зовнішні відступи 
	//	border: 1px solid red; // !!! монтажна рамка - після верстки прибрати

	//ДЕНЬ ТИЖНЯ - поля-контейнер
	&__conteiner {
		//margin: 0 0 0px 0; // зовнішні відступи 
		padding: 0px 10px 0 10px;
		border: 1px solid #999; // рамка
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		height: 100%;
	}

	//ДЕНЬ ТИЖНЯ - НАЗВА - коробка
	&__date {
		font-size: 20px;
		letter-spacing: 0.3px;
		//text-transform: uppercase;
		font-weight: 700;
		border-bottom: 1px solid #999; // !!! монтажна рамка - після верстки прибрати
		padding: 13px 0 10px 0;
		//	margin: 0 0 10px 0;
	}

	//ДЕНЬ ТИЖНЯ - ПЕРЕЛІК ПРЕДМЕТІВ - коробка 
	&__subject {
		//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати
	}
}

//ПРЕДМЕТ
.subject {

	//ПРЕДМЕТ-контейнер	
	&__conteiner {
		//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати
	}

	//ПРЕДМЕТ-рамка
	&__border {
		margin: 0 0 10px 0;
		border-bottom: 1px solid #999; // рамка ДАНИХ ПРЕДМЕТА

		&._border-without {
			border: none; // рамка ДАНИХ ПРЕДМЕТА
		}
	}
}


$MB_subject-width: 46px;
$PS_subject-width: $MB_subject-width;

$MB_task_margin: 0px; // відступ зверху/знизу ЗАВДАННЯ

//ПРЕДМЕТ-ОПИС-контейнер 
.description {
	margin: 0 10px $MB_task_margin 10px;

	//ПРЕДМЕТ-ОПИС-рамка-flex-контейнер
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 -5px;
		padding: 8px 0 0 0;
		//border-bottom: 1px solid #999;
	}

	&__number,
	&__text,
	&__communicator {
		padding: 0px 5px;
		font-size: 20px;
	}

	&__number,
	&__text {
		padding: 5px 5px;
	}

	//ПРЕДМЕТ-ОПИС-номер
	&__number {
		flex: 0 1 $MB_subject-width;
		text-align: center;
	}

	//ПРЕДМЕТ-ОПИС-назва
	&__text {
		flex: 1 1 auto;
	}

	//ПРЕДМЕТ-ОПИС-комунікатори-контейнер-flex-контейнер
	&__communicator {
		flex: 1 1 auto;

		display: flex;
		justify-content: end;
		margin: 0 -5px;
	}

	//ПРЕДМЕТ-ОПИС-комунікатори-перелік
	&__list {
		padding: 0; //7px 0 20px;
		position: relative;

		display: flex;
		justify-content: space-between;
		//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати
	}

	&__button {
		//flex: 0 0 20px;
		position: relative;
		top: 0;
		left: 0;
		width: 15px;
		height: 26px;
		//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0px;
			width: 10px;
			height: 2px;
			background-color: #999;

			transition: all 0.3s ease 0s;
		}

		&::before {
			transform: rotate(130deg);
			top: 7px;
		}

		&::after {
			transform: rotate(-130deg);
			top: 15px;
		}

		&._active {
			&::before {
				transform: rotate(-130deg);
			}

			&::after {
				transform: rotate(130deg);
			}
		}
	}

	//ПРЕДМЕТ-ОПИС-лінки-коробка-flex-контейнер
	&__links {
		flex: 1 1 auto;

		display: flex;
		justify-content: flex-end;

		position: relative;
		overflow: hidden;
		width: 0px;
		//border: 1px solid green; // !!! монтажна рамка - після верстки прибрати

		&._active {
			width: 100%;
		}
	}

	//ПРЕДМЕТ-ОПИС-ЛІНК
	&__link {
		padding: 0 5px;
		align-self: center;
		//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати

		& img {
			display: block;
			margin: 0 auto;
			//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати}
		}
	}
}

//КОНТАКТ-контейнер
$MB_contact-margin: $MB_task_margin + 7px;

.contact {
	margin: 0 10px $MB_contact-margin 10px;
	//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати}

	//КОНТАКТ-flex-контейнер
	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 -5px;
		//border-top: 1px solid #999;
		//box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати}
	}

	&__time,
	&__office,
	&__tiecher {
		position: relative;
		padding: 0px 5px;
		font-size: 14px;
		line-height: 18px;
		color: #999;
		//margin: 0 0 10px 0;
		//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати
		//box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}

	//КОНТАКТ-час
	&__time {
		flex: 0 0 $MB_subject-width;
	}

	//КОНТАКТ-офіс
	&__office {
		flex: 0 0 40px;
	}

	//КОНТАКТ-вчитель
	&__tiecher {
		flex: 1 1 auto;

	}

}

//ЗАВДАННЯ-рамка
.task {
	margin: 0 10px 0px 10px;

	//ЗАВДАННЯ-заголовок
	&__title {
		display: flex;
		margin: 0 -5px 10px -5px;
		//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати
	}

	&__add,
	&__do {
		padding: 0 5px;
		position: relative;
		height: 30px;
		//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати
	}

	//ЗАВДАННЯ-додати
	&__add {
		flex: 0 0 $MB_subject-width;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 13px;
			left: 10px;
			width: 24px;
			height: 2px;

			background-color: #999;
			transition: all 0.3s ease 0s;
			transform: scale(0);
		}

		&._active::before {
			transform: scale(1);
		}

		&._active::after {
			transform: scale(1);
			transform: rotate(90deg);
		}
	}

	//ЗАВДАННЯ-виконання
	&__do {
		flex: 1 1 auto;
		padding: 5px 40px 5px 5px;

		&_progres {
			position: relative;

			border-radius: 10px;
			border: 1px solid #999;
			font-size: 16px;
			text-align: center;
			padding: 1px 0 0 0;


			& span {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				border-radius: 10px;
				width: 0%;
				height: 100%;
				background-color: rgba(120, 185, 23, 0.5);
			}
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 13px;
			width: 10px;
			height: 2px;
			background-color: #999;

			transition: all 0.3s ease 0s;
		}

		&::before {
			transform: rotate(40deg);
			right: 15px;
		}

		&::after {
			transform: rotate(-40deg);
			right: 7px;
		}

		&._active {
			&::before {
				transform: rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}
		}
	}

	//ЗАВДАННЯ-перелік
	&__list {
		display: none;

		&._active {
			display: block;
		}
	}

	//ЗАВДАННЯ-зміст
	&__item {
		margin: 0 0 10px 0;

	}

	&__caption {
		display: flex;
		justify-content: space-between;
		margin: 0 -5px;

		&._active {
			display: none;
		}

		&_check,
		&_text,
		&_edit {
			padding: 0 5px;
			position: relative;
			//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати
		}

		// ЗАВДАННЯ-відмітити
		&_check {
			flex: 0 0 $MB_subject-width;
			position: relative;

			&::before,
			&::after {
				content: "";
				position: absolute;
			}

			// ЗАВДАННЯ-відмітити - рамка
			&::before {
				top: 0px;
				left: 10px;
				width: 24px;
				height: 24px;
				border-radius: 9px;
				border: 1px solid #999;
				background-color: #fff;
			}

			// ЗАВДАННЯ-відмітити - відівтка
			&::after {
				top: 3px;
				left: 13px;
				width: 18px;
				height: 18px;
				border-radius: 7px;
				//border: 1px solid #999;
				background-color: #fff;
			}

			&._active::after {
				background-color: rgb(120, 185, 23);
			}
		}

		&_text {
			flex: 1 1 auto;
			font-size: 16px;
			line-height: 18px;
			word-break: break-all; // вимушений перенос слів
			padding: 0 5px 5px 5px;

			&._active {
				color: green;
			}
		}

		//ЗАВДАННЯ-редагувати
		&_edit {
			flex: 0 0 40px;
			position: relative;

			&::after,
			&::before {
				content: "";
				background-color: #fff;
			}

			&::before,
			&::after,
			& span {
				position: absolute;
			}

			//ЗАВДАННЯ-редагувати - рамка
			&::before {
				top: 0px;
				left: 9px;
				width: 24px;
				height: 24px;
				border-radius: 3px;
				//border: 1px solid #999;
			}

			//ЗАВДАННЯ-редагувати - стрічка
			&::after {
				left: 13px;
				top: 19px;
				width: 15px;
				height: 2px;
				border: 1px solid #999;
			}

			//ЗАВДАННЯ-редагувати - пензлик
			& span {
				display: block;
				left: 8px;
				top: 4px;
				width: 30px;
				height: 10px;
				border-bottom-left-radius: 50%;
				border-top-left-radius: 50%;
				transform: rotate(-45deg);
				border: 3px solid #fff;
				background-color: #777;
			}
		}
	}

	&__input {
		display: none;

		&._active {
			display: flex;
			justify-content: space-between;
			margin: 0 -5px 10px -5px;
		}

		&_delete,
		&_text,
		&_save {
			padding: 0 5px;
			position: relative;
			//	border: 1px solid red; // !!! монтажна рамка - після верстки прибрати
		}

		// ЗАВДАННЯ-видалити
		&_delete {
			flex: 0 0 $MB_subject-width;
			position: relative;

			&::before,
			&::after,
			& span {
				position: absolute;
				border: 1px solid #999;
			}

			&::before,
			&::after {
				content: "";
				top: 11px;
				left: 7px;
				width: 30px;
				height: 2px;
				border-radius: 3px;
				background-color: #fff;
			}

			// ЗАВДАННЯ-видалити - хрестик
			&::before {
				transform: rotate(45deg);
			}

			// ЗАВДАННЯ-видалити - хрестик
			&::after {
				transform: rotate(-45deg);
			}

			// ЗАВДАННЯ-видалити - рамка
			& span {
				//display: block;
				//top: 0px;
				//left: 10px;
				//width: 24px;
				//height: 24px;
				//border-radius: 3px;
			}
		}

		&_text {
			flex: 1 1 auto;

			& textarea {
				font-size: 16px;
				line-height: 18px;
				width: 100%;
				height: 60px;
				padding: 2px 10px 2px 5px;
				border: 1px solid #999; // !!! монтажна рамка - після верстки прибрати

			}
		}

		// ЗАВДАННЯ-записати
		&_save {
			flex: 0 0 40px;
			flex: 0 0 40px;
			font-size: 14px;
			font-weight: 700;

			&::before,
			&::after,
			& span {
				position: absolute;
				border: 1px solid #777;
			}

			&::before,
			&::after {
				content: "";
			}

			//ЗАВДАННЯ-записати
			&::before {
				top: 0px;
				left: 9px;
				width: 24px;
				height: 24px;
				border-radius: 3px;
				//background-color: #999;
			}

			//ЗАВДАННЯ-записати
			&::after {
				left: 14px;
				top: 0px;
				width: 14px;
				height: 16px;
				//background-color: #999;

			}

			& span {
				display: block;
				left: 17px;
				top: 3px;
				width: 5px;
				height: 10px;
				//background-color: #999;
			}

		}
	}

	/*
	&__check,
	&__text {
		padding: 0 5px;
	}

	&__check {
		flex: 0 0 $MB_subject-width;
		position: relative;
		//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати

		&::before,
		&::after {
			content: "";
			position: absolute;
		}

		&::before {
			top: 0px;
			left: 15px;
			width: 24px;
			height: 24px;
			border-radius: 3px;
			border: 1px solid #999;
			background-color: #fff;
		}

		&::after {
			top: 3px;
			left: 18px;
			width: 18px;
			height: 18px;
			border-radius: 3px;
			border: 1px solid #999;
			background-color: #fff;
		}

		&._active::after {
			background-color: rgb(120, 185, 23);
		}
	}

	&__text {
		flex: 1 1 auto;
		font-size: 16px;
		line-height: 18px;
		position: relative;

		&._active {
			color: green;
		}

		//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати
	}

	&__caption {
		display: flex;
		margin: 0 -5px;

		//display: none;

		&._action {
			display: none;
		}

		&_text,
		&_button-edit {
			padding: 0 5px;
		}

		&_text {
			flex: 1 1 auto;
		}

		&_button-edit {
			flex: 0 0 30px;
			position: relative;
			//border: 1px solid red; // !!! монтажна рамка - після верстки прибрати
			font-size: 14px;
			font-weight: 700;

			&::before {
				content: "";
				position: absolute;
				top: 0px;
				left: 3px;
				width: 24px;
				height: 24px;
				border-radius: 3px;
				border: 1px solid #999;
				background-color: #fff;
			}

			&::after {
				content: "T";
				position: absolute;
				font-size: 20px;
				font-weight: 700;
				left: 9px;
				top: 4px;
				//text-align: center;
			}


		}


	}

	textarea {
		font-size: 16px;
		line-height: 18px;
		width: 100%;
		height: 60px;
		padding: 2px 10px 2px 5px;
		border: 1px solid #999; // !!! монтажна рамка - після верстки прибрати
		display: none;

		&._action {
			display: block;
		}
	}*/
}



//* КОНТЕНТ - PC

$PC_content-padding: $PC_header-height;

@media(min-width:767px) {

	.content {
		padding: $PC_content-padding 0 0 0;
	}

	.week {
		flex-wrap: wrap;
		//flex-direction: row;
		//width: 1170px;

	}

	//ДЕНЬ ТИЖНЯ - коробка (рамка)
	.weekday {
		flex: 0 0 50%;
	}


}

/*
// КАРТКИ УРОКІВ
.shedule {

	// - контейнер
	&__container {
		padding-top: 60px; // відступ зверх від шапки 
	}

	// - flex-контейнер 
	&__cards {
		display: flex; // - flex-контейнер-КАРТКИ УРОКІВ -> КАРТКА УРОКІВ
		flex-wrap: wrap;
	}
}

// КАРТКА УРОКІВ
.card {
	flex: 1 1 auto; //- flex-елемент-КАРТКИ УРОКІВ -> КАРТКА УРОКІВ
	margin: 0 0 5px 0;

	// - рамка
	&__lessons {
		border: 1px solid #ddd; // колір, товщина 
		border-radius: 5px; // зокруглення 
		box-shadow: 0 0 20px #ddd; // тінь
	}
}


// УРОК 
$MOBILE_lesson_flex: 40px;

.lesson {

	// - контейнер
	&__container {
		padding: 11px 10px 10px 10px;
	}
}


// ПРЕДМЕТ
.subject {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #999;

	&__row {
		display: flex; // - flex-контейнер-УРОК-НАЗВА
		justify-content: space-between;
		margin: 0 -5px;
	}


	// ПРЕДМЕТ - НОМЕР
	&__number {
		flex: 0 0 $MOBILE_lesson_flex; // - flex-елемент-УРОК-НАЗВА-номер
		text-align: center;
	}

	// ПРЕДМЕТ - НАЗВА
	&__name {
		flex: 1 1 auto; // - flex-елемент-УРОК-НАЗВА-предмет
	}

	&__book {
		align-self: flex-start;
	}

	&__number,
	&__name,
	&__book {
		font-size: 24px;
		padding: 0px 5px;
	}
}


// ЗАВДАННЯ
.task {
	border-bottom: 1px solid #999;
	margin: 0 0 10px 0;

	&__item {

		display: flex; // - flex-контейнер
		justify-content: space-between;
		margin: 0 -5px 10px -5px;
		//z-index: 1;
	}

	// ЗАВДАННЯ - КЕРУВАННЯ
	&__control {}

	&__add,
	&__title {
		position: relative;
		cursor: pointer;
		padding: 0px 5px;
		//	z-index: -1;
	}

	// ЗАВДАННЯ - ДОДАТИ
	&__add {
		flex: 0 0 $MOBILE_lesson_flex; // - flex-елемент-УРОК-ЗАВДАННЯ-відмітка

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 11px;
			left: 13px;
			width: 18px;
			height: 2px;

			background-color: #999;
			//box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
			transition: all 0.3s ease 0s;
		}

		&::after {
			transform: rotate(90deg);
		}

		&_active::before,
		&_active:after {
			display: none;
		}

	}

	// ЗАВДАННЯ - ЗАГОЛОВОК
	&__title {
		flex: 1 1 auto; // - flex-елемент-УРОК-ЗАВДАННЯ-опис
		font-size: 18px;
		line-height: 22px;
		color: #999;

		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 10px;
			width: 10px;
			height: 1px;
			background-color: #999;

			transition: all 0.3s ease 0s;
		}

		&::before {
			transform: rotate(40deg);
			right: 10px;
		}

		&::after {
			transform: rotate(-40deg);
			right: 18px;
		}

		&_active {
			&::before {
				transform: rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}
		}

	}

	// ЗАВДАННЯ - СПИСОК
	&__list {
		//display: none;

		//transform: scale(0) translate(0px, -50%);
		//margin: -110px 0 0 0;
	}

	// ЗАВДАННЯ - ВІДМІТКА
	&__check {
		flex: 0 0 $MOBILE_lesson_flex; // - flex-елемент-УРОК-ЗАВДАННЯ-відмітка
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			transition: all 0.3s ease 0s;
			z-index: -1; // скриває чекбокс під вспливаючим меню - LIFEHACK
		}

		&::before {
			width: 24px; //$MOBILE_lesson_check-before_width;
			height: 24px; //$MOBILE_lesson_check-before_height;
			border-radius: 3px; //$MOBILE_lesson_check-before_radius;
			top: 0px;
			left: 11px;
			background-color: #fff; //#bfc8c4;
			border: 1px solid #999;
			//box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		}

		&::after {
			width: 18px; //$MOBILE_lesson_check-after_width-height;
			height: 18px; //$MOBILE_lesson_check-after_width-height;
			border-radius: 50%;
			top: 3px;
			left: 14px;
			//border: 1px solid #999;
			background-color: #fff;
		}

		&._active ::after {
			background-color: #4fbb65;
		}

	}

	// ЗАВДАННЯ - ТЕКСТ
	&__text {
		flex: 1 1 auto; // - flex-елемент-УРОК-ЗАВДАННЯ-опис
	}

	&__check,
	&__text {
		font-size: 18px;
		line-height: 22px;
		padding: 0px 5px;
	}
}


// КОНТАКТИ
.contact {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
	margin: 0 -5px;
	z-index: -1;

	&__info,
	&__сommunicator {}

	&__info {
		flex: 0 0 $MOBILE_lesson_flex; // - flex-елемент-УРОК-ЗАВДАННЯ-відмітка
	}

	&__office,
	&__time {
		color: #999;
	}

	&__сommunicator {
		padding: 0 5px;
		flex: 1 1 auto;

		display: flex;
		justify-content: space-between;
		margin: 0 -5px;
	}

	&__ticher,
	&__links {
		padding: 0 -5px;
	}

	&__ticher {
		flex: 0 1 40%;
		color: #999;
	}

	&__links {
		flex: 1 1 auto;

		display: flex;
		justify-content: flex-end;
		margin: -5px;
	}

	&__link {
		padding: 5px;
	}

}
*/